#!/usr/bin/env bash
# base16-shell (https://github.com/chriskempson/base16-shell)
# Base16 Shell template by Matt Helm (https://github.com/mtthlm)
# {{scheme-name}} scheme by {{scheme-author}}
printf -- \\033\\1354\;0\;rgb:%s/%s/%s\\033\\134 '{{base00-hex-r}}' '{{base00-hex-g}}' '{{base00-hex-b}}'
printf -- \\033\\1354\;1\;rgb:%s/%s/%s\\033\\134 '{{base08-hex-r}}' '{{base08-hex-g}}' '{{base08-hex-b}}'
printf -- \\033\\1354\;2\;rgb:%s/%s/%s\\033\\134 '{{base0B-hex-r}}' '{{base0B-hex-g}}' '{{base0B-hex-b}}'
printf -- \\033\\1354\;3\;rgb:%s/%s/%s\\033\\134 '{{base0A-hex-r}}' '{{base0A-hex-g}}' '{{base0A-hex-b}}'
printf -- \\033\\1354\;4\;rgb:%s/%s/%s\\033\\134 '{{base0D-hex-r}}' '{{base0D-hex-g}}' '{{base0D-hex-b}}'
printf -- \\033\\1354\;5\;rgb:%s/%s/%s\\033\\134 '{{base0E-hex-r}}' '{{base0E-hex-g}}' '{{base0E-hex-b}}'
printf -- \\033\\1354\;6\;rgb:%s/%s/%s\\033\\134 '{{base0C-hex-r}}' '{{base0C-hex-g}}' '{{base0C-hex-b}}'
printf -- \\033\\1354\;7\;rgb:%s/%s/%s\\033\\134 '{{base05-hex-r}}' '{{base05-hex-g}}' '{{base05-hex-b}}'
printf -- \\033\\1354\;8\;rgb:%s/%s/%s\\033\\134 '{{base03-hex-r}}' '{{base03-hex-g}}' '{{base03-hex-b}}'
printf -- \\033\\1354\;9\;rgb:%s/%s/%s\\033\\134 '{{base08-hex-r}}' '{{base08-hex-g}}' '{{base08-hex-b}}'
printf -- \\033\\1354\;10\;rgb:%s/%s/%s\\033\\134 '{{base0B-hex-r}}' '{{base0B-hex-g}}' '{{base0B-hex-b}}'
printf -- \\033\\1354\;11\;rgb:%s/%s/%s\\033\\134 '{{base0A-hex-r}}' '{{base0A-hex-g}}' '{{base0A-hex-b}}'
printf -- \\033\\1354\;12\;rgb:%s/%s/%s\\033\\134 '{{base0D-hex-r}}' '{{base0D-hex-g}}' '{{base0D-hex-b}}'
printf -- \\033\\1354\;13\;rgb:%s/%s/%s\\033\\134 '{{base0E-hex-r}}' '{{base0E-hex-g}}' '{{base0E-hex-b}}'
printf -- \\033\\1354\;14\;rgb:%s/%s/%s\\033\\134 '{{base0C-hex-r}}' '{{base0C-hex-g}}' '{{base0C-hex-b}}'
printf -- \\033\\1354\;15\;rgb:%s/%s/%s\\033\\134 '{{base07-hex-r}}' '{{base07-hex-g}}' '{{base07-hex-b}}'
printf -- \\033\\1354\;16\;rgb:%s/%s/%s\\033\\134 '{{base09-hex-r}}' '{{base09-hex-g}}' '{{base09-hex-b}}'
printf -- \\033\\1354\;17\;rgb:%s/%s/%s\\033\\134 '{{base0F-hex-r}}' '{{base0F-hex-g}}' '{{base0F-hex-b}}'
printf -- \\033\\1354\;18\;rgb:%s/%s/%s\\033\\134 '{{base01-hex-r}}' '{{base01-hex-g}}' '{{base01-hex-b}}'
printf -- \\033\\1354\;19\;rgb:%s/%s/%s\\033\\134 '{{base02-hex-r}}' '{{base02-hex-g}}' '{{base02-hex-b}}'
printf -- \\033\\1354\;20\;rgb:%s/%s/%s\\033\\134 '{{base04-hex-r}}' '{{base04-hex-g}}' '{{base04-hex-b}}'
printf -- \\033\\1354\;21\;rgb:%s/%s/%s\\033\\134 '{{base06-hex-r}}' '{{base06-hex-g}}' '{{base06-hex-b}}'
printf -- \\033\\13510\;rgb:%s/%s/%s\\033\\134 '{{base05-hex-r}}' '{{base05-hex-g}}' '{{base05-hex-b}}'
printf -- \\033\\13511\;rgb:%s/%s/%s\\033\\134 '{{base00-hex-r}}' '{{base00-hex-g}}' '{{base00-hex-b}}'
printf -- \\033\\13512\;rgb:%s/%s/%s\\033\\134 '{{base05-hex-r}}' '{{base05-hex-g}}' '{{base05-hex-b}}'
